<!DOCTYPE html>
<html>
<head>
  <title>Survival</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>

<%= yield %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
